* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  list-style: none;
  font-family: "Maax-Regular";
  text-decoration: none;
  color: black;
  cursor: auto;
}

$primary-white: #ffffff;
$primary-blue: #00365e;
$primary-pink: #dd0069;

$background-light: #e5ebef;
$background-med: #bfbfbf;
$background-dark: #222222;

$positive-color: #00b588;
$negative-color: #b50000;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin img-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@font-face {
  font-family: "Maax-Regular";
  src: url(../fonts/maax-regular.woff2);
}

@font-face {
  font-family: "Maax-Medium";
  src: url(../fonts/maax-medium.woff2);
}

@font-face {
  font-family: "Maax-Bold";
  src: url(../fonts/maax-bold.woff2);
}

body {
  width: 100%;
  height: 100vh;

  .background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    overflow: hidden;

    .card {
      width: 40%;
      height: 80%;
      border-radius: 10px;
      z-index: 1;

      display: flex;
      align-items: center;
      flex-direction: column;

      background-color: $primary-white;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
      opacity: 0.9;

      header {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        width: 100%;

        aside {
          width: 42.5%;
          height: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 10px;
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

          h1 {
            width: 80%;
            height: 12.5%;
            border-radius: 0 0 10px 10px;
            background-color: $primary-pink;
            color: $primary-white;
            @include flex-center();
          }

          ul {
            height: 60%;
            width: 80%;
            margin-top: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            li {
              width: 80%;
              height: 15%;
              border-radius: 5px;
              @include flex-center();
              margin-bottom: 5%;

              input {
                padding: 0 5%;
                border: 1px solid black;
              }

              button {
                background-color: $primary-blue;
                color: $primary-white;
                font-family: "Maax-Bold";
              }

              * {
                width: 100%;
                height: 100%;
                border-radius: 5px;
              }

              &:last-child {
                margin-top: auto;
              }
            }
          }
        }
      }

      footer {
        margin-bottom: 2%;
        width: 90%;
        height: 12.5%;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

        display: flex;
        align-items: center;
        justify-content: space-around;

        background-image: radial-gradient(
            $background-light 1px,
            transparent 1px
          ),
          radial-gradient($background-light 1px, transparent 1px);
        background-position: 0 0, 15px 15px; /* Adjusted position */
        background-size: 10px 10px; /* Adjusted size */

        a {
          width: 12.5%;
          height: 65%;
          border-radius: 10px;
          gap: 15%;
          opacity: 1;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          background-color: $primary-blue;

          * {
            color: $primary-white;
          }

          i {
            font-size: 100%;
          }

          p {
            font-family: "Maax-Bold";
          }
        }

        .here {
          opacity: 0.5;
        }
      }

      .active {
        margin-bottom: 0;
        border-radius: 10px 10px 0 0;
      }

      section {
        display: none;
        height: 0;
        width: 90%;
        z-index: -1;
        margin-bottom: 2%;
        border-radius: 0 0 10px 10px;
        background-color: #00b588;
        overflow: hidden;
        transition: height 1s ease;

        div {
          width: 100%;
          height: 100%;
          background-color: purple;

          ol {
            list-style: decimal;
            background-color: aqua;
          }
        }
      }
    }
  }
}
